@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/*font-family: 'Russo One', sans-serif;*/

html,
body {
    padding: 0;
    margin: 0;
    font-family: verdana, arial, sans-serif;
}

body {
    background: none;
    color: white;
    display: flex;
    flex-direction: column;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1cm;
}

.gameboy {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 450px;
    background-color: #ccc;
    border-style: solid;
    border-width: 5px;
    border-bottom-right-radius: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: black;
}

.display_zone_of_gameboy {
    border-color: black;
    border-style: solid;
    border-width: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #8c868c;
    width: 90%;
    height: 300px;
    border-radius: 10px;
}

.display_of_gameboy {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #899e57;
    width: 90%;
    height: 250px;
    box-shadow: inset 0px 0px 90px 10px rgba(0, 0, 0, 0.5);
}

.questions {
    height: 125px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    color: black;
    font-family: 'Press Start 2P', cursive;
}

.buttons_place_of_gameboy {
    border-radius: 30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    height: 60px;
    background-color: #969696;
}

.button_of_gameboy {
    margin: 5px 5px 5px 5px;
    background-color: #b51f44;
    width: 50px;
    height: 50px;
    border-width: 2px;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    user-select: none;
    outline: none;
    font-size: 30px;
}

.button_of_gameboy:hover {
    cursor: pointer;
}

.button_of_gameboy:active {
    font-size: 18px;
    border-width: 3px;
    width: 50px;
    height: 50px;
}

.button_place_of_start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.star_button {
    border-color: white;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    width: 40px;
    height: 20px;
    background-color: red;
    outline: none;
}

.star_button:active {
    border-width: 3.7px;
}

.tex_start_button {
    margin-top: 0px;
    font-size: 15px;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 3px;
    color: rgb(175, 175, 175);
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.forms {
    border-width: 10px;
    border-color: #2e2f30;
    border-style: outset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 95%;
    height: 250px;
    background-color: #444547;
}

.send {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
}

textarea {
    border-style: ridge;
    border-width: 5px;
    outline: none;
    margin-top: 10px;
    resize: none;
    width: 250px;
    height: 150px;
    background-color: black;
    color: chartreuse;
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;
}